<div class="container-fluid">
    <div class="row">
        <div class="col-12"  >
        <div style="background-color: white; width: 100%; border: 5cm; height: 10px;" >  </div>
        </div> 
    </div>
    
    <div class="row" style="background: silver;">
        <div class="col-auto"></div>  
        <div class="col-4" style="background: cadetblue;">

            <div class="row">
                
                <div class="col-3">  
                    <img alt="Card image cap" class="maxB"   src="../assets/ImgItem/LeonardoImg.jpg"  />
                </div>

                <div class="col-1"></div>  

                <div class="col-8">  
                    <p style="margin-left: 10%; margin-top: 10px ;">Nome Leonardo</p>  
                    <p style="margin-left: 10%;">Cognome Beltrame</p>
                    <p style="margin-left: 10%;">Tel 3480932076</p>
                    <p style="margin-left: 10%; font-size: 15px;" >Email leonardocasia34@gmail.com</p>
                </div>

            </div>
        </div> 

        <div class="col-7">
            <div class="card" style="width:fit-content">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Ciao sei finit* sul mio CV brav*!!! buona lettura cara/car*/caro</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-1"></div>  
    </div>


    <div class="row">
        
    </div>

    <div class="row">
        
    </div>
</div>
