<div class="container-fluid">
    <div class="row">
        <div class="col-12"  >
        <div style="background-color: white; width: 100%; border: 5cm; height: 10px;" >  </div>
        </div> 
    </div>
    
    <div class="row" style="background: silver;">
        <div class="col-auto"></div>  
        <div class="col-4" style="background: cadetblue;">

            <div class="row">
                <div class="col-3">  
                    <img alt="Card image cap" class="maxB" style="padding: 15%;"  src="../assets/ImgItem/LeonardoImg.jpg"  />
                </div>
                <div class="col-1"></div>  
                <div class="col-8">  
                    <p style="margin-left: 10%; margin-top: 10px ;">Nome Leonardo</p>  
                    <p style="margin-left: 10%;">Cognome Beltrame</p>
                    <p style="margin-left: 10%;">Tels/p>
                    <p style="margin-left: 10%; font-size: 15px;" >Email leonardocasia34@gmail.com</p>
                </div>

            </div>
        </div> 

        <div class="col-7">

            <form action="mailto:leonardocasia34@gmail.com" method="post" enctype="text/plain">
                Student Name:<br><input type="text" name="sname"> <br>
                Student Subject:<br><input type="text" name="ssubject"><br>
                <input type="submit" value="Send">
             </form>
             <div class="card"> 

                    <div class="card-body">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            With supporting text below as a natural lead-in to additional content.
                            With supporting text below as a natural lead-in to additional content.
                        </p>
                    </div>
            </div>
        </div>
        <div class="col-1"></div>  

    </div>

    <div class="row">
         <div class="col-12"  >
            <div style="background-color: white; width: 100%; border: 5cm; height: 30px;" >  </div>
        </div> 
    </div>
    <div class="row">

        <div class="col-12"  >
          <div style="background-color: silver; width: 100%; border: 5cm; height: 50px;" >
            <h2>Esperienze Professionali</h2>
          </div>
       </div> 

    </div>
    <div class="row">
        <div class="col-12"  >
           <div style="background-color: white; width: 100%; border: 5cm; height: 20px;" >  </div>
       </div>
   </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                  Operatore logistico
                </div>
                <div class="card-body">
                  <h5 class="card-title">da 01/01/2020 a 27/07/2022</h5>
                <p class="card-text">Come magazziniere con tre anni di esperienza, ho svolto un ruolo cruciale nella gestione e nell'organizzazione delle operazioni di magazzino presso una nota azienda di distribuzione. Durante il mio impiego, ho dimostrato una solida capacità di coordinare e mantenere un flusso efficiente di merci e materiali, contribuendo al successo dell'azienda.
                </p>
                <h5>Le mie responsabilità principali hanno compreso:</h5>
                <ul>
                    <li>
                        <p>Ricezione e stoccaggio delle merci: Ho gestito l'accoglienza e il controllo delle merci in arrivo, verificando la quantità e la qualità delle consegne. Successivamente, ho organizzato lo stoccaggio adeguato nel magazzino, utilizzando metodi di etichettatura e sistemi di gestione degli inventari.</p>
                    </li>
                    <li>
                        <p>Picking e imballaggio  ho eseguito con precisione le operazioni di prelievo degli ordini, assicurandomi che gli articoli corretti fossero prelevati e imballati con cura per la spedizione.</p>
                    </li>

                    <li>
                    <p>Carico e scarico delle merci  ho coordinato il carico e lo scarico dei camion e delle consegne in uscita, seguendo le procedure di sicurezza e garantendo la corretta disposizione dei prodotti.</p>
                    </li>
                    <li>
                        <p>Utilizzo di attrezzature  ho operato con competenza e sicurezza attrezzature come carrelli elevatori, transpallet e sistemi di movimentazione dei materiali.</p>
                    </li>
                    <li>
                       <p>Collaborazione con il team: Ho lavorato in stretta collaborazione con colleghi e supervisori, partecipando a riunioni operative e comunicando eventuali problematiche o miglioramenti proposti.</p>
                    </li>
                </ul> 
                </div>
              </div>
           
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                  Operatore logistico
                </div>
                <div class="card-body">
                  <h5 class="card-title">da 01/01/2020 a 27/07/2022</h5>
                <p class="card-text">Come magazziniere con tre anni di esperienza, ho svolto un ruolo cruciale nella gestione e nell'organizzazione delle operazioni di magazzino presso una nota azienda di distribuzione. Durante il mio impiego, ho dimostrato una solida capacità di coordinare e mantenere un flusso efficiente di merci e materiali, contribuendo al successo dell'azienda.
                </p>
                <h5>Le mie responsabilità principali hanno compreso:</h5>
                <ul>
                    <li>
                        <p>Ricezione e stoccaggio delle merci: Ho gestito l'accoglienza e il controllo delle merci in arrivo, verificando la quantità e la qualità delle consegne. Successivamente, ho organizzato lo stoccaggio adeguato nel magazzino, utilizzando metodi di etichettatura e sistemi di gestione degli inventari.</p>
                    </li>
                    <li>
                        <p>Picking e imballaggio  ho eseguito con precisione le operazioni di prelievo degli ordini, assicurandomi che gli articoli corretti fossero prelevati e imballati con cura per la spedizione.</p>
                    </li>

                    <li>
                    <p>Carico e scarico delle merci  ho coordinato il carico e lo scarico dei camion e delle consegne in uscita, seguendo le procedure di sicurezza e garantendo la corretta disposizione dei prodotti.</p>
                    </li>
                    <li>
                        <p>Utilizzo di attrezzature  ho operato con competenza e sicurezza attrezzature come carrelli elevatori, transpallet e sistemi di movimentazione dei materiali.</p>
                    </li>
                    <li>
                       <p>Collaborazione con il team: Ho lavorato in stretta collaborazione con colleghi e supervisori, partecipando a riunioni operative e comunicando eventuali problematiche o miglioramenti proposti.</p>
                    </li>
                </ul> 
                </div>
              </div>
           
        </div>
    </div>
</div>
